3. Perform the following operations on iris dataset
1. Display mean, median, minimum, maximum, standard deviation
2. Provide mean, median, minimum, maximum, standard deviation for a
given dataset by grouping using one of the qualitative (categorical)
variable
3. Display missing values and inconsistencies.
4. Replace missing values using any 2 suitable

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('IRIS.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
# 1. Display mean, median, minimum, maximum, standard deviation
stats = df.describe().loc[['mean', '50%', 'min', 'max', 'std']]
stats

      sepal_length  sepal_width  petal_length  petal_width
mean      5.843333     3.054000      3.758667     1.198667
50%       5.800000     3.000000      4.350000     1.300000
min       4.300000     2.000000      1.000000     0.100000
max       7.900000     4.400000      6.900000     2.500000
std       0.828066     0.433594      1.764420     0.763161

In [9]:
# # 2. Provide mean, median, minimum, maximum, standard deviation for a
# given dataset by grouping using one of the qualitative (categorical)
# variable


# we have to group by each species and then provide that species chi staats
stats_by_species = df.groupby('species').agg(
    mean = ('sepal_length', 'mean'),
    median = ('sepal_length', 'median'),
    min = ('sepal_length', 'min'),
    max = ('sepal_length', 'max'),
    std = ('sepal_length', 'std'),
)

print(f"Sepal Lenght stats :\n {stats_by_species}")
# stats_by_species

Sepal Lenght stats :
                   mean  median  min  max       std
species
Iris-setosa      5.006     5.0  4.3  5.8  0.352490
Iris-versicolor  5.936     5.9  4.9  7.0  0.516171
Iris-virginica   6.588     6.5  4.9  7.9  0.635880

In [11]:
# 3. Display missing values and inconsistencies.
# Display missing values
missing_values = df.isnull().sum()
print("Missing values:")
print(missing_values)

# Display inconsistencies (example: sepal length should be positive)
inconsistencies = df[df['sepal_length'] <= 0]
print("\nInconsistencies (sepal length <= 0):")
print(inconsistencies)

print(df.duplicated())

Missing values:
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Inconsistencies (sepal length <= 0):
Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []
0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool