In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [102]:
import seaborn as sns

In [103]:
df=pd.read_csv('Irish.csv')

In [104]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [105]:
#1.	Display mean, median, minimum, maximum, standard deviation
#2.	Provide  mean, median, minimum, maximum, standard deviation for a  given dataset by grouping using one of the qualitative (categorical) variable
#3.	Display missing values and inconsistencies. 
#4.	Replace missing values using any 2 suitable 

ststic=df.describe().loc[['mean','50%','min','max','std']]
print(ststic)

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
mean   75.500000       5.843333      3.054000       3.758667      1.198667
50%    75.500000       5.800000      3.000000       4.350000      1.300000
min     1.000000       4.300000      2.000000       1.000000      0.100000
max   150.000000       7.900000      4.400000       6.900000      2.500000
std    43.445368       0.828066      0.433594       1.764420      0.763161

In [106]:
group_static=df.groupby('Species').agg(
    mean=('SepalLengthCm','mean'),
    median=('SepalLengthCm','median'),
    min=('SepalLengthCm','min'),
    max=('SepalLengthCm','max'),
    std=('SepalLengthCm','std')
)

In [79]:
print(group_static)

                  mean  median  min  max       std
Species
Iris-setosa      5.006     5.0  4.3  5.8  0.352490
Iris-versicolor  5.936     5.9  4.9  7.0  0.516171
Iris-virginica   6.588     6.5  4.9  7.9  0.635880

In [80]:
missing=df.isnull().sum()

In [81]:
print(missing)

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [82]:
df.loc[df['Id']==1, 'Id']=2

In [83]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   2            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [85]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [93]:
id_counts = df['Id'].value_counts()
inconsistent_ids = id_counts[id_counts > 1]
print("\nInconsistent IDs:\n", inconsistent_ids)

Inconsistent IDs:
 Id
2    2
Name: count, dtype: int64

In [95]:

for col in df.columns:
    print(col,':',df[col].unique())

Id : [  2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73
  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91
  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109
 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127
 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145
 146 147 148 149 150]
SepalLengthCm : [5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]
SepalWidthCm : [3.5 3.  3.2 3.1 3.6 3.9 3.4 2.9 3.7 4.  4.4 3.8 3.3 4.1 4.2 2.3 2.8 2.4
 2.7 2.  2.2 2.5 2.6]
PetalLengthCm : [1.4 1.3 1.5 1.7 1.6 1.1 1.2 1.  1.9 4.7 4.5 4.9 4.  4.6 3.3 3.9 3.5 4.2
 3.6 4.4 4.1 4.8 4.3 5.  3.8 3.7 5.1 3.  6.  5.9 5.6 5.8 6.6 6.3 6.1 5.3
 5.5 6.7 6.9 5.7 6.4 5.4 5.2]
PetalWidthCm : [0.2 0.4 0.3 0.1 0.5 0.6 1.4 1.5 1.3 1.6 1.  1.1 1.8 1.2 1.7 2.5 1.9 2.1
 2.2 2.  2.4 2.3]
Species : ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [99]:
col_flot=df.select_dtypes(include=['float64']).columns
cateforical_v=df.select_dtypes(include=['object']).columns

for col in col_flot:
    df[col].fillna(df[col].mean(), inplace=True)

for col in cateforical_v:
    df[col].fillna(df[col].mode()[0], inplace=True)
    print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      2            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]